// Catalog

@mixin Span {
    margin: 0;
    padding: 0;
    color: var(--color-Black);
    font-family: "Geologica";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    margin-left: 10px;

    &:hover {
        color: var(--color-Oranges);
        font-family: "Geologica";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        cursor: pointer;
    }
}

@mixin Text {
    margin: 0;
    padding: 0;
    color: var(--color-Black);
    font-family: "Geologica";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; 
}