.container {
    max-width: 1190px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    padding: 0px 20px;
}

.apple__div {
    display: flex;
    justify-content: space-between;

    .apple__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}

.apple__h1 {
    color: #2B2A28;
    font-family: "Gilroy";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
}

.apple__svg {
    margin-right: 12px;
}

.apple__p {
    color: var(--5, #CB8734);
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.apple__info {
    display: flex;
}

.img__info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.info__pic {
    margin-bottom: 13px;
}

// apple_container

.apple__box {
    max-width: 370px;
    width: 100%;
    height: 290px;
    border-radius: 8px;
    background: var(--5, #FFF);
    box-shadow: 0px 0px 30px 0px rgba(43, 42, 40, 0.08);
    margin-top: -80px;
    margin-left: 30px;
    position: relative;
}

.box__div {
    display: flex;
}

.apple__container {
    display: flex;
}

.apple__h2 {
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-left: 45px;
    padding-top: 48px;
    margin-bottom: 12px;
}

.apple__pp {
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    padding: 0;
    margin: 0;
    padding-left: 45px;
    margin-top: 12px;
}

.apple__btn {
    color: var(--5, #FFF);
    text-align: center;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-radius: 4px;
    background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
    box-shadow: 0px 4px 4px 0px rgba(203, 135, 52, 0.20);
    border: none;
    padding: 22px 30px;
    margin-top: 29px;
    margin-left: 45px;
}

.apple__heading2 {
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-left: 63px;
    padding-bottom: 26px;
}

.input {
    width: 380px;
    height: 58px;
    border-radius: 4px;
    border: 1px solid var(--8, #E7D8C7);
    background: var(--3, #FFF);
    padding-left: 81px;
    margin-left: 63px;
}

.box__btn {
    color: var(--5, #FFF);
    text-align: center;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-radius: 4px;
    background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
    box-shadow: 0px 4px 4px 0px rgba(203, 135, 52, 0.20);
    border: none;
    width: 280px;
    height: 58px;
    margin-left: 17px;
}

// evt

.evt__info {
    display: flex;
}

.evt .container {
    border-radius: 8px;
    background: var(--5, #FFF);
    box-shadow: 0px 0px 30px 0px rgba(43, 42, 40, 0.08);
    margin-top: 145px;
}

.evt__heading {
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    padding: 40px 60px;
    margin-bottom: -50px;
}

.line1 {
    max-width: 413px;
    width: 100%;
    stroke-width: 1px;
    stroke: var(--8, #E7D8C7);
    margin-left: 60px;
    margin-top: 31px;
}

.evt__list {
    list-style: none;
    margin-left: 15px;
}

.evt__item {
    display: flex;
    align-items: center;
}

.evt__p {
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-left: 25px;
}

.line2 {
    width: 413px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--8, #E7D8C7);
    margin-left: 2px;
}

// 

.evt__nav {
    margin-left: 27px;
    margin-top: -13px;
    list-style: none;
}

.nav__item {
    margin-bottom: 40px;
}

.evt__link {
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-decoration: none;
}

// 

.evt__navbar {
    list-style: none;
    margin-top: -45px;
}

.evt__h3 {
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 12px;
}

.navbar__item1 {
    display: flex;
    align-items: center;
}

.navbar__span {
    display: flex;
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    padding-left: 11px;
}

.navbar__text {
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    padding-left: 11px;
}

.navbar__item2 {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

// center

.center__h3 {
    color: var(--1, #2B2A28);
    font-family: "Gilroy";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    margin-top: 144px;
    margin-bottom: 31px;
}

.div__info {
    display: flex;
    gap: 40px;
}