.proekt {
    margin-top: 30px;
    margin-left: 400px;
}

.proekt__info {
    display: flex;
    background-color: white;
    width: 865px;
    border-top-right-radius: 40px;
}

.proekt__heading {
    margin: 0;
    padding: 0;
    color: var(--color-Black);
    font-family: "Geologica";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    padding-top: 54px;
    padding-left: 58px;
    padding-bottom: 14px;
}

.proekt__text {
    margin: 0;
    padding: 0;
    color: var(--color-Black);
    font-family: "Geologica";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; 
    width: 316px;
    margin-left: 58px;
}

.proekt__btn {
    color: #FFF;
    text-align: center;
    font-family: "Geologica";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    border-radius: 4px;
    background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
    box-shadow: 0px 4px 4px 0px rgba(203, 135, 52, 0.20);
    border: 1px solid #F39C32;
    padding-top: 26px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin-left: 57px;
}

.proekt__img {
    margin-left: 25px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 6px;
}

.proekt__div {
    margin-top: 35px;
    border-radius: 8px;
    background: #FFFBF6;
    display: flex;
}

.proekt__icon {
    width: 29px;
    height: 32px;
    margin-left: 320px;
    margin-top: 21px;
}

.proekt__textt {
    margin: 0;
    padding: 0;
    color: var(--color-Black);
    font-family: "Geologica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    padding-top: 21px;
    padding-bottom: 17px;
    padding-left: 5px;
}

@media only screen and (max-width: 1288px) {
    .proekt {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 1034px) {
    .proekt {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 886px) {
    .proekt__info {
        flex-direction: column;
        width: 440px;
        border-radius: 0;
    }

    .proekt__icon {
        margin-left: 216px;
    }

    .proekt__heading {
        margin-left: -35px;
    }

    .proekt__text {
        margin-left: 25px;
    }

    .proekt__btn {
        margin-left: 25px;
    }

    .proekt__img {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 502px) {
    .proekt__icon {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 472px) {
    .proekt__heading {
        width: 350px;
    }

    .proekt__info {
        width: 400px;
    }
}

@media only screen and (max-width: 472px) {
    .proekt__img {
        width: 280px;
        height: 220px;
    }

    .proekt__info {
        width: 330px;
    }

    .proekt__div {
        flex-direction: column;
    }

    .proekt__textt {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 374px) {
    .proekt__info {
        width: 250px;
    }
    .proekt__img {
        width: 220px;
        height: 180px;
        margin-left: 5px;
    }

    .proekt__heading {
        width: 200px;
        margin-left: -50px;
    }

    .proekt__text {
        margin-left: 10px;
        width: 200px;
    }

    .proekt__btn {
        margin-left: 10px;
    }
}
